.app-header{
    background-color: black;
    padding: 10px 20px;
}

.login-btn{
    float: right;
}

.app-logo {
    animation: app-logo-spin infinite 8s linear;
    height: 35px;
    background: #ff7f7f;
 }
 
 @keyframes app-logo-spin {
    from { transform: scaleX(-1); }
 }
 .login-modal{
    display: block;
    position: relative;
    top: 38%;
    bottom: 40%;
    left: 37%;
    right: 40%;
    height: fit-content;
    width: fit-content;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
 }